.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.postsItems {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.btn {
    max-width: 200px;
    max-height: 50px;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color: #3b5998;
    transition: background-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.btn:hover {
    background-color: #3b5998;
    color: black;
}