.header {
    grid-area: h;
    background-color: #3b5998;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: flex;
    margin-left: 15px;
    margin-top: 4px;
    justify-content: flex-start;
    align-items: center;
}

.logoText {
    margin-left: 10px;
    color: white;
    text-transform: uppercase;

}

.headerImage {
    width: 50px;
}

.loginBlock {
    margin-right: 20px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}