.profileWrapper {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.profileItems img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.profileName {
    font-weight: 700;
    margin: 0 10px;
    text-transform: capitalize;
    color: black;
}

.aboutMe {
    font-style: italic;

}