.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin-top: 10px;
;
}




.dialogsItems {
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.dialogsItems img {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.messageText {
    margin-bottom: 10px;
}

.messagesItems {
    display: grid;
    grid-template-columns: 6fr 1fr;
}
