.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogsItems {
    padding: 20px;

}

.dialogsItems .active {
    font-weight: bolder;
}

.dialogsItems a {
    color: black;
    text-decoration: none;
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.dialog img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.dialogName {
    margin-left: 10px;
}

.messages {
    padding: 20px;

}

.message {

}
