.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;

}

.dialogsItems .active {
    font-weight: bolder;
}

.dialogsItems a {
    color: black;
    text-decoration: none;
}

.dialog {


}

.messages {
    padding: 20px;

}

.message {

}
